.App {
  font-family: 'Ubuntu';
}

body {
  background: #6190E8;
  background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);
  background: linear-gradient(to right, #A7BFE8, #6190E8);

}

input:focus,
input:active,
button:focus,
button:active {
  box-shadow: none !important;
}

label {
  font-weight: bold;
}

